@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-surface: #f3f4f6;
    --color-surface-hover: #e5e7eb;
    --color-border: #6b7280;
    --color-icon: #1f2937;
    --color-icon-hover: #000000;
}

.dark {
    --color-surface: rgba(255, 255, 255, 0.05);
    --color-surface-hover: #d1d5db;
    --color-border: rgba(255, 255, 255, 0.40);
    --color-icon: rgba(255, 255, 255, 0.80);
    --color-icon-hover: #111827;
    --color-bg: #242424;
    --color-text-body: rgba(255, 255, 255, 0.87);
}

:root {
    --color-bg: #ffffff;
    --color-text-body: #1a1a1a;
    font-family: "IBM Plex Sans", "Space Mono", system-ui, Avenir, Helvetica,
        Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-text-body);
    background-color: var(--color-bg);
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
        transition-duration: 0.01ms !important;
    }
}
