only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@sentry/node-cpu-profiler
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
